@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass',  Yu Gothic Medium , sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/* ---------------------
FV
--------------------- */

.mainContent {
    max-width: 1500px;
    margin: 0 auto;
}

.TOPmain {
    background-image: url("../img/download-3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.TOPmain__subTitle {
    text-align: center;
    padding-top: 2%;
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
}

.topText {
    text-align: center;
    margin-top: 10%;
}

.topText__logo {
    width: 23%;
}

.topText__catch {
    padding-top: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}

.TOPmain nav {
    padding: 70px;
}

.pcNav {
    display: flex;
    list-style: none;
    margin: 0 auto;
    width:90%;
    background-color: #FAF7F2;
    font-size: 0.8rem;
    height:60px;
}

.pcNav li {
    padding-left: 13px;
    margin: 20px auto;
}

.pcNav li:last-child {
    padding-right: 13px;
    position: relative;
}

.pcNav li:nth-last-child(2) {
    padding-right: 13px;
}

.pcNav li:last-child::before {
    position: absolute;
    top: 2px;
    left: -7px;
    bottom: 23px;
    content: url("../img/download-4.png");
}

.pcNav li a {
    text-decoration: none;
    color: #000;
}

.pcNav li a:hover {
    color: #AD9B50;
}

/* ---------------------
about and products section
-------------------- */

.aboutProducts {
    display: flex;
    margin-top: 10%;
}

.aboutProducts .imgBox img {
    width: 100%;
    height: auto;
}

.aboutProducts .textBox {
    padding: 1% 5%;
}

.aboutProducts .textBox h2 {
    font-size: 350%;
    line-height: 95%;
}

.aboutProducts .textBox h3 {
    font-size: 120%;
    padding-top: 20px;
    font-weight: 400;
}

.aboutProducts .textBox h3 span {
    color: #AD9B50;
}

.textBox__description {
    font-size: 80%;
    padding-top: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}

.btn {
    width: 100px;
    background-color: #AD9B50;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
    color: #000;
}

.btn:hover {
    background-color: #fff;
    color: #AD9B50;
}


/* ---------------------
classic series
--------------------- */

.classic {
 display: flex;
 justify-content: center;
 margin: 0 40px;
}

.classic .series {
    margin-top: 8%;
}

.classic .series1 {
    padding-right: 80px;
}

.classic .series img {
    width: 100%;
}

.classic .series p {
    padding-top: 10px;
    font-size: 110%;
}

.classic .series:hover {
    opacity: 0.7;
}

/* ---------------------
STORY section
--------------------- */

.storytitle {
    text-align: center;
    font-size: 200%;
    line-height: 95%;
    margin: 10% 0 4% 0;
}

.storySection {
    background-image: url("../img/download-20.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 40% 76px;
}

.storySection p {
    padding: 200px 0;
    text-align: center;
    font-size: 110%;
}

.storySection p span {
    margin-bottom: 0.5%;
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 700;
}

.storySection p span::before {
    margin-left: -10px;
    position: absolute;
    left: 50%;
    width: 20px;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #000;
    content: "";
}

/* ---------------------
shoppingBlog BLOG section
--------------------- */

.shoppingBlog {
    display: flex;
    margin: 8% 5%;
}

.shoppingBlog .imgBox img {
    width: 100%;
}

.textboxSb {
    text-align: center;
    margin: auto;
    padding: 0 18px;
}

.textboxSb__title {
    font-size: 160%;
}

.textboxSb__description {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 100;
}

.shoppingBlog__btn{
    margin: 30px auto;
}

/* ---------------------
news section
--------------------- */

.newsContent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.newsContent__box {
    padding-right: 4%;
}

.newsContent__box:hover {
    opacity: 0.7;
}

.newsContent__box:first-child {
    padding-left: 4%;
}

.newsContent__img {
    width: 100%;
}

.newsContent__box {
    font-size: 75%;
}

.newsTitle {
    font-size: 120%;
    margin: 8% 0 5% 0;
    text-align: center;
    position: relative;
}

.newsTitle::before {
    margin-left: -10px;
    position: absolute;
    left: 50%;
    width: 20px;
    right: 0;
    bottom: -15px;
    border-bottom: 1px solid #000;
    content: "";
}

.newsMore {
    margin-top: 2%;
    text-align: center; 
    font-size: 90%;
}

.newsMore a {
    color: #000;
}

/* ---------------------
footer section
--------------------- */

footer {
    background-image: url("../img/f_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
}

.footer {
    padding-top: 25%;
    margin-top: 12%;
}

.footer p {
    padding: 0 2% 2% 0;
    text-align: right;
    font-size: 80%;
}

.footerBox {
    padding-bottom: 5%;
    padding-left: 5%;
    display: flex;
}

.footerBox__logo {
    margin-right: 5%;
}

.footerBox__nav {
    padding-left: 5%;
}

.footerBox__nav ul {
    list-style: none;
    font-size: 90%;
}

.footerBox__nav ul li {
    padding-bottom: 6%;
}

.footerBox__nav ul li a {
    color: #000;
}

/* -------------------
813以上の時
------------------- */

@media screen and (min-width: 813px) {
    .topText__subTitle {
        display: none;
    }
}


/* -------------------
812pX以下の時
------------------- */

@media screen and (max-width: 812px) {
    .TOPmain {
        background-image: url("../img/download-8.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
    .TOPmain nav {
        display: none;
    }

    .TOPmain__subTitle {
        display: none;
    }
    
    .topText {
        text-align: center;
        padding-top: 40%;
        margin-top: 0;
    }

    .topText__logo {
        width: 30%;
        height: 100%;
    }
    
    .topText__catch {
        padding: 30px 0 30px 0;
        text-align: center;
        font-weight: 900;
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
    
    .topText__subTitle {
        margin: 0 auto;
        font-size: 0.8rem;
        padding-bottom: 40%;
        etter-spacing: 0.3rem;
    }

    .aboutProducts {
        display: block;
    }

    .productsSP {
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
    }

    .aboutProducts .textBox {
        width: 80%;
        text-align: left;
    }

    .aboutProducts .textBox h2 {
        margin-top: 3%;
    }

    .aboutProducts .textBox .textBox__button {
        width: 70%;
        background-color: #AD9B50;
        text-align: center;
        padding: 12px;
        margin-top: 30px;
        font-size: 0.9rem;
    }

    .aboutProducts .imgBox img {
        width: 96%;
        height: auto;
    }

    .classic {
        display: block;
        margin: 13% 3%;
    }
    
    .classic .series1 {
        padding-right: 0px;
    }

    .classic .series p {
        padding-top: 10px;
        font-size: 130%;
    }
    
    .storySection {
        background-image: url("../img/download-21.jpg");
        background-attachment: scroll;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        background-position: 60% 30px;
    }

    .shoppingBlog {
        display: block;
        margin: 15% 3%;
    }
    
    .blogSP {
        display: flex;
        flex-direction: column-reverse;
    }

    .shoppingBlog {
        margin-top: 25%;
    }

    .textboxSb {
        text-align: center;
        padding: 0px;
        margin: 0;
    }
    
    .shoppingBlog .imgBox img {
        width: 100%;
    }

    .textboxSb__title {
        font-size: 160%;
        margin-top: 5%;
    }
    
    .textboxSb__description {
        margin-top: 10px;
        font-size: 80%;
        font-weight: 100;
    }
    
    .btn {
        width: 100%;
        padding: 13px 0;
        margin: 30px auto;
    }

    .newsTitle {
        margin-bottom: 10%;
        font-size: 1.5rem;
    }

    .newsContent {
        display: flex;
        flex-wrap: wrap;
    }

    .newsContent {
        display: flex;
        width: 100%;
    }

    .newsContent__box{
        padding:0;
    }

    .newsContent__box:first-child {
        padding-left: 0%;
    }

    .newsContent__box:nth-child(odd) {
        margin-right: 8%;
    }

    .newsContent__box:last-child,.newsContent__box:nth-child(3) {
        margin-top: 3%;
    }
    
    .newsContent__img {
        width: 100%;
    }
    
    .newsContent__box {
        font-size: 75%;
        width: 40%;
    }
    
    .newsMore {
        margin-top: 4%;
        text-align: center; 
        font-size: 90%;
    }

    footer {
        background-image: url("../img/f_bgsp.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: auto;
    }
    
    .footer {
        padding-top: 25%;
        margin-top: 12%;
    }
    
    .footer p {
        text-align: center;
        font-size: 80%;
        padding: 80px 0 20px 0;
    }
    
    .footerBox {
        padding-bottom: 0%;
        padding-left: 0%;
    }

    .footerBox__logo {
        margin: 0 auto;
        padding-top: 20px;
    }

    .footerBox__nav {
        display: none;
    }
}
